@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round');
@import './components/PsChips.scss';
@import './components/PsToggle.scss';
@import './components/PsTabHeader.scss';
@import './components/PsAccordion.scss';
@import './components/PsInput.scss';
@import './components/PsButton.scss';
@import './components/PsCardInfos.scss';
@import './components/PsChartLegend.scss';
@import './components/PsClimateZoneBadge.scss';
@import './components/PsCostEffectBar.scss';
@import './components/PsHighlightRippleDot.scss';
@import './components/PsDataTable.scss';
@import './components/PsCheckbox.scss';
@import './components/PsDialog.scss';
@import './components/PsDotLoader.scss';
@import './components/PsRadioButton.scss';
@import './components/PsSwitch.scss';
@import './components/PsProgressBar.scss';
@import './components/PsDropdown.scss';
@import './components/PsDropdownList.scss';
@import './components/PsSlider.scss';
@import './components/PsToast.scss';
@import './components/PsMiniTag.scss';
@import './components/PsInlineSelector.scss';
@import './components/PsTooltip.scss';
@import './components/PsInputTextArea.scss';
@import './components/PsInputSelect.scss';
@import './components/PsDraggable.scss';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*:focus {
  outline: none;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.transition-default {
  transition: cubic-bezier(.17,.67,.83,.67) 250ms;
}

.psui-icon {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
