<template>
  <div 
    class="psui-el-tab-header" 
    :class="[getComponentClass, `layout-${layout}`]" 
    role="group"
  >
		
    <template v-for="item in getItems">
      <slot v-bind:item="item" >
      <PsRichTooltip v-if="item.tooltip" :title="item.tooltip" layout="blue">
        <template v-slot:trigger>
          <button
            :key="item[keyValue]"
            type="button"
            @click="selectTab(item)"
            :class="getButtonClass(item)"
          >
                <span>{{ item[keyLabel] }}</span>              
          </button>
        </template>
      </PsRichTooltip>
        <button
        v-else
          :key="item[keyValue]"
          type="button"
          @click="selectTab(item)"
          :class="getButtonClass(item)"
        >
              <span>{{ item[keyLabel] }}</span>              
        </button>
      </slot>
    </template>
	</div>
</template>

<script>
import PsRichTooltip from '../tooltip/PsRichTooltip.vue'
export default {
  name: 'PsTabHeader',
  components: { PsRichTooltip },
  props: {
    /**
     * It sets the layout of the tabheader. eg: standard, underline and folder. 
     */
    layout: {
      type: String,
      default: 'standard',
      validator: (value) => ['standard', 'underline', 'folder'].includes(value)
    },
    /**
     * It sets the tabs which will be rendered.
     */
    items: {
      type: Array,
      required: true
    },
    /**
     * It sets the key label of the items if needed.
     */
    keyLabel: {
      type: String,
      default: 'label'
    },
    /**
     * It sets the key value of the items if needed.
     */
    keyValue: {
      type: String,
      default: 'value'
    },
    /**
     * It disabled the tab header. All mouse events are disabled.
     */
    disabled: {
      type: Boolean,
      default: false
    },
    /**
     * It sets the tab seleced.
     */
    selected: {},
  },
  computed: {
    getComponentClass() {
      if (this.disabled) {
        return 'status-disabled'  
      } else {
        return 'status-resting'
      }
    },
    getIsObject() {
      return typeof this.selected === 'object'
    },
    getSelected() {
      if (this.selected) {
        if (typeof this.selected === 'object' && this.selected[this.keyValue] ) {
          return this.selected[this.keyValue]        
        } else {
          return this.selected
        }
      } else {
        return false
      }
    },
    getItems() {
      if (this.items.length > 0 && typeof this.items[0] !== 'object') {
        return this.items.map((item) => { 
          return {
            [this.keyLabel]: item,
            [this.keyValue]: item
          }
        })
      } else {
        return this.items
      }
    },
  },
  methods: {
    selectTab(item) {
      if (item.disabled !== true) {
        this.$emit('update:selected', this.getIsObject ? item : item[this.keyValue] )
        this.$emit('change', this.getIsObject ? item : item[this.keyValue])        
      }
    },
    getButtonClass(item) {
      if (item.disabled) {
        return ['status-disabled']
      } else {
        return { 'status-active': this.getSelected === item[this.keyValue], 'status-enabled' : true }
      }      
    }
  }

}
</script>

<style> /* Please, use the file src/assets/scss/components/PsTabHeader.scss */</style>