<template>
  <button
      @click="onClick()" 
      @mouseenter="onMouseEnter"
      @mouseleave="onMouseLeave" 
      class='psui-el-button' 
      :class="[getComponentClass, {'hover': isHover}, {'disabled': disabled}]" 
   >
    <i v-if="icon" :class='iconClass' class='material-icons-round'>{{icon}}</i>
    <span v-if="label">{{ label }}</span>
  </button>
</template>

<script>
export default {  
  props: {
    /**
     * It set de label of the button when component is rendered.
     */
    label: {
      type: String,
    },
    /**
     * It set the layout of the button. eg: solid, outline, ghost, onlytext and caution.
     */
    layout: {
      type: String,
      default: 'solid',
      validator: (value) => ['solid','outline','ghost','onlytext','caution'].includes(value)
    },
    /**
     * It sets the text key which will retrieve a icon from Google Fonts. Make sure to get the correct description of your icon on https://fonts.google.com/.
     */
    icon: {
      type: String,
    },
    /**
     * It sets the position of the icon. eg: left or right.
     */
    iconPosition:{
      type: String,
      default: 'left',
      validator: (value) => ['left','right'].includes(value)
    },
    /**
     * It sets the size of the icon. eg: small, medium and big.
     */
    size: {
      type: String,
      default: 'big',
      validator: (value) => ['small','medium','big'].includes(value)
    },
    /**
     * It disable the button. All mouse event are disabled.
     */
    disabled: {
      type: Boolean,
      default: false
    },
    /**
     * It set any further css style that might be needed.
     */
    iconClass:{
      type: String
    }
  },
  data(){
    return {
      isHover: false,
    }
  },
  computed: {
    getComponentClass(){
        if(this.icon){
          return `layout-${this.layout} size-${this.size} icon-${this.iconPosition}`
        } else {
          return `layout-${this.layout} size-${this.size}` 
        }
    }
  },
  methods: {
    onClick() {
      if (this.disabled) return
      this.$emit('click')
    },
    onMouseEnter(){
      if(!this.disabled){
        this.isHover = true
      }
    },
    onMouseLeave(){
      if(!this.disabled){
        this.isHover = false
      }
    }
  }
}
</script>

