@layer components{

  .psui-el-accordion {

    &-item {
      border-bottom: 1px solid #e6ecf2;      
  
      &-header {
        @apply psui-flex psui-cursor-pointer psui-transition-all psui-justify-between transition-default psui-text-gray-80;
        padding-top: 16px;
        padding-bottom: 16px;

        &:hover {
          @apply psui-text-blue-60;
        }
      }

      &-icon {
        @apply psui-icon;
        font-size: 20px;
        width: 20px;
        transition: transform 0.4s ease-in-out;
      }

    }

    &.layout-big {
      .psui-el-accordion-item {
        &-header, &-content {
          @apply psui-pl-4 psui-pr-4;
        }
        &-title {
          @apply psui-text-h5 psui-font-bold;
        }
        &-icon {
          @apply psui-text-gray-30
        }        
      }
    }
    
    &.layout-medium {
      .psui-el-accordion-item {
        &-title {
          @apply psui-text-small psui-font-bold;
        }
        &-icon {
          @apply psui-text-gray-60;
        }
        
        &.status-opened {
          .psui-el-accordion-item-icon {
            transform: rotate(180deg);
          }
        }
      }
    }

    .psui-el-accordion-item {
      &.status-opened .psui-el-accordion-item-header, &-header:hover {
        @apply psui-text-blue-60;
        .psui-el-accordion-item-icon {
          @apply psui-text-blue-60;
        }
      }
    }

    .psui-el-accordion-item-content {
      @apply psui-list-none psui-text-gray-60 psui-mb-5;
    }

    .accordion-fade-enter-active,
    .accordion-fade-leave-active {
      will-change: height, margin-bottom;
      transition: height 0.4s ease, margin-bottom 0.4s ease-in-out;
      overflow: hidden;
    }

    .accordion-fade-enter,
    .accordion-fade-leave-to {
      height: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}