@layer components {

  .psui-el-button {

    @apply psui-font-bold psui-items-center psui-flex psui-content-center psui-rounded-md psui-transition-all psui-ease-in-out;
    transition-duration: 130ms;

    span {
      @apply psui-font-bold psui-flex-shrink-0;
      line-height: 130%;
      font-family: inherit;
      text-align: right;
    }

    &:focus {
      outline: none;
    }

    &.icon-right {
      @apply psui-flex-row-reverse;
    }
    
    &.size-big {
      @apply psui-flex psui-items-center psui-content-center;
      padding: 9.5px 16px;
      
        &.icon-left {
          padding: 8px 16px;
          i {
           font-size: 24px;
           margin-right: 8px;
          }
        }

        &.icon-right { 
          padding: 8px 16px;     
          i {
              font-size: 24px;
              margin-left: 8px;
          }
        }
    }

    &.size-medium {
      @apply psui-flex psui-items-center psui-content-center;
      padding: 7px 13px;
      font-size: 14px;

      &.icon-left i {
        font-size: 18px;
        margin-right: 4px;
      }

      &.icon-right i {
        font-size: 18px;
        margin-left: 4px;
      }
    }

    &.size-small {
      @apply psui-flex psui-items-center psui-justify-center psui-rounded psui-py-1 psui-px-2;
      font-size: 14px;

      &.layout-onlytext {
        &:active:not(.disabled) {
          @apply psui-bg-blue-20 psui-text-blue-60;    
          box-shadow: inset 0px 1px 2px rgba(0,0,0,0.05);
        }    
      }

      &.hover.layout-onlytext {
        @apply psui-text-blue-60 psui-bg-blue-20 !important;
      }

      &.icon-left {
        i {
          font-size: 18px;
          margin-right: 4px;
        }
      }

      &.icon-right {
        i {
          font-size: 18px;
          margin-left: 4px;
        }
      }
    }

    &.layout-solid {
      @apply psui-bg-blue-60 psui-text-white; 

      &.hover {
        @apply psui-bg-blue-50 psui-text-white;
      }

      &:active:not(.disabled) {
        @apply psui-bg-blue-50 psui-text-white;
        box-shadow: inset 0px 1px 2px rgba(0,0,0,0.15);
      }

      &.disabled {
        @apply psui-text-gray-40 psui-bg-gray-20 psui-cursor-default
      }                
    }

    &.layout-outline {
      @apply psui-text-blue-60 psui-border psui-border-blue-50;
      background: transparent;

      &.hover,
      &:active {
        @apply psui-border psui-border-blue-60
      }

      &.disabled {
        @apply psui-text-gray-40 psui-border-gray-30 psui-cursor-default;
      } 
    }

    &.layout-ghost {
      @apply psui-bg-blue-20 psui-text-blue-60;

      &.hover {
        @apply psui-bg-blue-10
      } 

      &:active:not(.disabled) {
        box-shadow: inset 0px 1px 2px rgba(0,0,0,0.05)
      }

      &.disabled {
        @apply psui-text-gray-40 psui-bg-gray-20 psui-cursor-default
      }
    }

    &.layout-onlytext {
      @apply psui-bg-white psui-text-blue-60;

      &.disabled {
        @apply psui-text-gray-40 psui-cursor-default
      }
      
      &.hover {
        @apply psui-text-blue-50
      }
    }

    &.layout-caution {
      @apply psui-bg-red-10 psui-text-red-20;

      &.hover, 
      &:active:not(.disabled) {
        @apply psui-bg-red-10 psui-text-red-70;
      }

      &.disabled {
        @apply psui-text-gray-40 psui-bg-gray-20 psui-cursor-default
      }
    }
  }
}