@layer components{

  .psui-el-card-infos {
    @apply psui-border psui-border-gray-20 psui-rounded-md psui-flex psui-flex-col psui-items-center psui-justify-center psui-px-3 psui-py-2 psui-cursor-pointer;

    &-title {
      @apply psui-text-xsmall psui-font-bold psui-text-gray-40 psui-mb-1;
    }

    &-content {
      @apply psui-w-full psui-flex psui-justify-end psui-items-center psui-text-p;
    }

    &-icon {
      @apply psui-text-blue-50 psui-mr-1;
      font-size: 17px;
    }

    &:hover {
      .psui-el-card-infos-icon {
        @apply psui-text-blue-60;
      }
    }
  }

}