@layer components{

  .psui-el-chips {
    @apply psui-inline-flex psui-relative;

    &-icon {
      @apply psui-icon;
    }

    &.type-checkbox,
    &.type-radio {
      font-size: 14px;
      @apply psui-leading-none;

      input {
        @apply psui-absolute psui-pointer-events-none psui-invisible;
        clip: rect(0,0,0,0);

        &:checked {
          + label {
            @apply psui-text-blue-60 psui-bg-blue-20;
  
            &:before {
              @apply psui-text-blue-50;
            }
          }
        }
      }

      label {
        @apply psui-flex psui-items-center psui-justify-center psui-text-gray-50 psui-bg-gray-10 psui-transition-all psui-cursor-pointer psui-rounded;
        padding: 4px 8px 4px 6px;
  
        &:before {
          @apply psui-inline-block psui-text-gray-30 psui-cursor-pointer psui-transition-all;
          content: '';
          font-family: 'Material Icons Round';
          font-size: 18px;
          margin-right: 6px;
        }

        &:hover {
          @apply psui-text-blue-60 psui-bg-gray-10;
          &:before {
            @apply psui-text-blue-50;
          }
        }
      }
    }

    &.type-checkbox {
      input:checked {
        + label {
          
          &:before {
            content: "check_box";
          }
        }
      }
  
      label {
        &:before {
          content: "check_box_outline_blank";
        }
      }
    }

    &.type-radio {
      input:checked {
        + label {
          &:before {
            content: "radio_button_checked";
          }
        }
      }
      
      label {
        &:before {
          content: "radio_button_unchecked";
        }
      }
    }

    &.type-button {
      label {
        @apply psui-flex psui-items-center psui-justify-center psui-text-gray-60 psui-transition-all psui-cursor-pointer psui-rounded psui-py-1 psui-px-3 psui-text-small;
        background-color: #F6F7F8;
        &:hover {
          @apply psui-text-blue-60 psui-bg-white;
        }

        &:focus,
        &:active {
          @apply psui-text-blue-60 psui-bg-blue-20;
        }
      }

      &.layout-with-icon {
        label {
          @apply psui-flex psui-items-center psui-justify-center psui-text-gray-50 psui-rounded-full;
          padding: 6px 12px;
  
          &:hover {
            @apply psui-text-blue-60 psui-bg-blue-10;
          }
        }

        .psui-el-chips-icon {
          @apply psui-icon psui-mr-2;
          font-size: 20px;
        }
      }

      &.layout-rich {
        label {
          @apply psui-rounded-full psui-bg-gray-10 psui-text-gray-40 psui-text-xsmall psui-font-bold psui-pl-1 psui-py-1 psui-pr-2;
  
          &:hover {

            &,
            .psui-el-chips-close {
              @apply .psui-text-gray-50;
            }

            .psui-el-chips-icon-prepend {
              @apply psui-bg-gray-40;
            }
          }

          &:focus,
          &:active {
            @apply psui-bg-blue-20;

            &,
            .psui-el-chips-close {
              @apply .psui-text-blue-60;
            }

            .psui-el-chips-icon-prepend {
              @apply psui-bg-blue-60;
            }
          }
        }

        .psui-el-chips-icon {
          font-size: 18px;

          &-prepend {
            @apply psui-bg-gray-30 psui-rounded-full psui-text-white psui-mr-2 psui-w-6 psui-h-6 psui-flex psui-items-center psui-justify-center;
          }
        }

        .psui-el-chips-close {
          @apply psui-text-gray-40 psui-flex psui-items-center psui-justify-center psui-ml-2;
        }
      }
    }
  }

}