@layer components{

  .psui-el-chart-legend {
    @apply psui-flex psui-p-2 psui-rounded;

    &-dot {
      @apply psui-bg-teal psui-rounded-full;
      width: 14px; height: 14px;
      margin-right: 6px;
    }

    &-text {
      @apply psui-text-xsmall psui-text-gray-50 psui-font-bold;
    }

    &-total {
      @apply psui-text-p psui-text-gray-80 psui-mt-1;
    }

    &-percentage {
      @apply psui-text-gray-50;
    }
  }

}