@layer components {
        
        .psui-el-checkbox {
            @apply psui-relative psui-text-gray-50 psui-bg-gray-10;    
        
        &.disabled {
            .psui-el-checkmark {
                @apply psui-cursor-default psui-text-gray-40 !important
            }

            .psui-el-checkmark::before {
                @apply psui-text-gray-30 !important
            }
        }

        &.size-small {
            @apply psui-text-small;
            
            &.layout-default {
                input:checked ~.psui-el-checkmark::before {
                    content: 'check_box';
                    font-family: 'Material Icons Round';
                }
            }
            &.layout-mixed {
                input:checked ~.psui-el-checkmark::before {
                    content: 'indeterminate_check_box';
                    font-family: 'Material Icons Round';
                }
            }
            input {
                @apply psui-absolute psui-opacity-0 psui-h-0 psui-w-0;
    
                &:checked ~ .psui-el-checkmark::before {
                    @apply psui-text-blue-50;
                    font-size: 18px;
                }
            }
            .psui-el-checkmark {
                @apply psui-flex psui-cursor-pointer psui-items-center;
                height: 18px;

                span {
                    margin-left: 8px;
                }

                &::before {
                    content:'check_box_outline_blank'; 
                    @apply psui-text-gray-40;
                    font-family:'Material Icons Round';
                    font-size: 18px;
                }
            }            
        }    
        &.size-big {
            @apply psui-text-big;

            &.layout-mixed {
                input:checked ~.psui-el-checkmark::before {
                    content: 'indeterminate_check_box';
                    font-family: 'Material Icons Round';
                }
            }
            &.layout-default {
                input:checked ~.psui-el-checkmark::before {
                    content: 'check_box';
                    font-family: 'Material Icons Round';
                }
            }
            input {
                @apply psui-absolute psui-opacity-0 psui-h-0 psui-w-0;
    
                &:checked ~ .psui-el-checkmark:before {
                    @apply psui-text-blue-50;
                    font-size: 24px;
                }
            }
            .psui-el-checkmark {
                    @apply psui-flex psui-cursor-pointer psui-items-center;
                    height: 24px;
                    
                    span {
                        margin-left: 8px;
                    }

                &:before {
                    content:'check_box_outline_blank'; 
                    @apply psui-text-gray-40 psui-align-text-bottom;
                    font-family:'Material Icons Round';
                    font-size: 24px;
                }
            }
        }   
    }
}