@layer components {
    .psui-el-climate-zone-badge {
        @apply psui-flex psui-bg-gray-10 psui-text-gray-50 psui-transition-all psui-duration-300 psui-ease-out psui-rounded psui-items-center;
        width: fit-content;
        padding: 0px 6px;

        &:hover {
            @apply psui-text-blue-60 psui-bg-blue-20;
        }

        i {
            font-family: 'Material Icons Round';
            font-style: normal;
            margin-right: 4px;
            font-size: 16px;
        }

        span {
            @apply psui-font-bold psui-inline-block psui-self-end;
            font-size: 12px;
            line-height: 120%;
            margin-bottom: 3.5px;
        }

    }
}