@layer components {
  .psui-el-cost-effect-bar {
    @apply psui-overflow-visible;

    div {
      @apply psui-relative psui-h-2 psui-rounded-2xl;
      width: 100px;

      span {
        @apply psui-absolute psui-rounded-sm psui-z-10; 
        background-color: #d6dde5;
        width: 2px;
        height: 14px;
        top: -3px; 
      }

      .psui-el-simple-progress-bar {
        @apply psui-overflow-hidden;

        &-percentage {
          border-radius: unset;
        }
      }
    }
  }
}