@layer components{

  .psui-el-table {
    @apply psui-w-full psui-table-fixed psui-border psui-border-gray-20 psui-text-small psui-text-gray-60 psui-border-separate psui-overflow-hidden psui-rounded;
    border-spacing: 0;

    &.psui-text-right {
      th,
      td {
        &:first-child {
          text-align: left;
        }
      }
    }

    thead,
    tfoot {
      th {
        @apply psui-bg-gray-10;
      }
    }

    th, td {
      border-bottom: 1px solid #e6ecf2;
    }
    
    th,
    td,
    tr {
      padding: 11px 16px;

      &:not(:last-child) {
        border-right: 1px solid #e6ecf2;
      }
    }

    thead {
      th {
        @apply psui-bg-gray-10 psui-text-gray-80 psui-capitalize psui-font-bold;
      }
    }

    tfoot {
      th { 
        border-bottom: 0; 
      }
    }

    &-rich {
      thead {
        th {
          padding: 15px 16px;
        }
      }

      tbody {
        th,
        td,
        tr {
          padding: 7px 16px;
          @apply .psui-text-gray-80;
        }
      }
    }
  }

}