@layer components {

  .psui-el-dialog {
    @apply psui-flex psui-justify-start psui-items-start psui-pr-3 psui-pl-2 psui-rounded-md;
    padding-top: 8.8px;
    padding-bottom: 8.8px;

    &-wrapper {
      @apply psui-flex psui-flex-grow
    }
    &-icon {
      @apply psui-flex psui-mr-2 psui-align-top; 
      
    }
    &-close {
      @apply psui-ml-auto psui-inline-block;

      &:focus{
        @apply psui-outline-none
      }

      i {
        @apply psui-align-middle;
        font-size: 18px;
      }

    }

    &.layout-vertical {
      @apply psui-flex psui-items-start;
      padding: 9.6px 9.6px 11.2px 9.6px;

      .psui-el-dialog-wrapper {
        @apply psui-flex-col psui-text-small
      }

      i {
        @apply psui-align-top
      }

      .psui-el-dialog-action {
        @apply psui-pt-2
      }
    }
    
    &.layout-horizontal {
      .psui-el-dialog-close {
        @apply psui-ml-3
      }
      .psui-el-dialog-default {
        @apply psui-mr-auto
      }
      .psui-el-dialog-action {
        @apply psui-ml-3
      }
      .psui-el-dialog-wrapper {
        @apply psui-text-small psui-py-1
      }
    }
        

    &.theme-informative {
      @apply psui-bg-blue-20 psui-text-blue-60;
      .psui-el-dialog-message {
        @apply psui-text-blue-60;
      }
    }

    &.theme-success {
      @apply psui-bg-green-10 psui-text-green-70;
      .psui-el-dialog-message {
        @apply psui-text-green-70;
      }
    }

    &.theme-alert {
      @apply psui-bg-yellow-10 psui-text-yellow-70;
      .psui-el-dialog-message {
        @apply psui-text-yellow-70;
      }
    }
  }
}