@layer components {

    .psui-el-dotloader {
        @apply psui-flex psui-items-center psui-justify-center psui-h-full;
        padding: 0;

        .psui-el-dotloader-wrapper {
            @apply psui-relative psui-p-4 psui-flex;
            height: 15px;
            span {
                @apply psui-rounded-full psui-relative psui-float-left psui-left-0 psui-top-0 psui-mr-1;
                background: #b7b7b7;
                height: 15px;
                width: 15px;
                opacity: 0.15;
                transform: scale(1);
                animation: dots-animation 1s 0.2s ease-in-out infinite;

                &:nth-of-type(1) {
                    animation-delay: 0.2s;
                }

                &:nth-of-type(2) {
                    animation-delay: 0.4s;
                }

                &:nth-of-type(3) {
                    animation-delay: 0.6s;
                }      
            }

            @keyframes dots-animation {
                0%, 70%, 100% {
                    opacity: 0.15;
                    transform: scale(1);
                }

                35% {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
}