@layer components {
    .psui-el-dropdown-menu {
        @apply psui-relative psui-inline-block psui-text-left;
        
        button {
            @apply psui-inline-flex psui-justify-center psui-items-center psui-w-full psui-font-medium psui-leading-none;
            background-color: transparent;
            padding-top: 2.5px;
            padding-bottom: 2.5px;
            min-height: 27px;
            font-size: 0.875rem;
            

            &:focus {
                outline: none;
                box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
            }
        }

        &-dialog-wrapper {
            @apply psui-hidden psui-origin-top-right psui-bg-white psui-fixed psui-w-auto psui-rounded-md psui-z-50 psui-opacity-0 psui-shadow-elevation-20 psui-transition-all psui-duration-100 psui-ease-in;
            
            &-dialog {
                @apply psui-w-full;

            }
        }
    }
}