@layer components {
    .psui-el-draggable {
        @apply psui-w-full psui-flex psui-flex-wrap psui-justify-start psui-gap-2;

        .psui-el-draggable-wrapper {
            @apply psui-w-full psui-rounded-lg psui-bg-gray-20 psui-p-2 psui-flex psui-items-center psui-flex-col;
            padding: 8px 8px 0px 8px;
                
        }

        .psui-el-draggable-title {
            @apply psui-w-full psui-flex psui-rounded-sm psui-items-center psui-cursor-grab psui-align-middle;

            &:active {
                @apply psui-cursor-grabbing;
            }            
            
            padding: 6px 16px;

             h2 {
                 @apply psui-w-full psui-text-gray-80 psui-font-bold psui-uppercase;
                 font-size: 12px;
             }

             i {
                 @apply psui-icon psui-text-gray-40;
                 font-size: 18px;
             }
        }


        .psui-el-draggable-list-items-wrapper {
            @apply psui-w-full psui-flex psui-flex-wrap;

            li {
                @apply psui-w-full psui-mb-2 psui-shadow-elevation-5 psui-bg-white psui-rounded psui-flex psui-items-center;
                padding: 7px 16px;

                &:hover {
                        @apply psui-text-gray-50 psui-cursor-grab
                }

                &:active {
                        @apply psui-cursor-grabbing
                }
            }

            .psui-el-draggable-item-wrapper {
                @apply psui-select-none psui-w-full psui-flex psui-items-center
            }

            .psui-el-draggable-item-icon {
                @apply psui-flex psui-justify-end psui-ml-auto;

                i {
                    @apply psui-icon psui-text-gray-30;
                    font-size: 18px;


                }
            }
        }
    }
}