@layer components {
    .psui-el-dropdown-menu-list {
        @apply psui-w-full psui-font-bold psui-my-3;

        li {
            @apply psui-w-full psui-text-gray-60 psui-text-small psui-list-none psui-flex psui-flex-col psui-cursor-pointer;
            padding: 7px 20px;
            font-weight: 700;

            &:hover {
                @apply psui-text-blue-60 psui-bg-blue-10;
            }

            span {
                @apply psui-w-full;
            }
        }
    }
}