@layer components {
    .psui-el-highlight-ripple-icon {
        @apply psui-static psui-box-border;

        .psui-el-icon {
            @apply psui-rounded-full psui-w-2 psui-h-2 psui-relative;
            background-color: #5db883;
            margin: 100px auto;

            &::before, &::after {
                @apply psui-rounded-full psui-absolute psui-origin-center;
                background-color: rgba(93, 184, 131, 0.3);
                border: solid 0px;
                content: '';
                width: 36px;
                height: 36px; 
                left: -8px;
                top: -8px;
                transform: scale(1) translate(-1px, -1px);
                z-index: -1;
            }

            &::before {
                animation: ripple 1s infinite;
            } 

            &::after {
                animation: ripple 1s infinite;

            }
        }
    }

    @keyframes ripple {
        0% {
            @apply psui-opacity-100 psui-w-0 psui-h-0;
            left: 5px;
            top: 5px; 
        }
        100% {
            @apply psui-opacity-0;
            left: -13px;
            top: -13px;
            width: 36px; 
            height: 36px; 
        }
    }
}