@layer components {
    .psui-el-input-textarea {
        @apply psui-block psui-w-full;
        font-family: inherit; 

        &.disabled {
            @apply psui-text-gray-40 psui-block psui-w-full !important; 

            .psui-el-input-textarea-wrapper {
                label {
                    @apply psui-bg-gray-10 !important;
                }

                textarea {
                    @apply psui-appearance-none psui-w-full psui-bg-gray-20 psui-border-gray-20 psui-cursor-default !important;
                }
            }
        }

        .psui-el-input-textarea-wrapper {
            @apply psui-flex psui-flex-col;
            transition: ease 130ms;

            label {
                @apply psui-h-full psui-flex psui-items-center psui-font-bold psui-text-big psui-py-1;
                font-size: 16px;
                line-height: 32px;
            }

            textarea {
                @apply psui-appearance-none psui-w-full psui-h-full psui-text-big psui-border psui-border-gray-30 psui-bg-white psui-text-gray-60 psui-resize-none psui-rounded-md psui-p-4;
            
                &:hover,
                &:focus,
                &:active {
                    @apply psui-border-blue-60
                }

                ::placeholder {
                    @apply psui-text-big
                }
            }
        }

        .psui-el-input-textarea-message {
            @apply psui-text-gray-50 psui-flex psui-font-normal;
            font-size: 12px;
            line-height: 24px;
            padding: 5px 0px;    
        }
    }
}