@layer components{

  .psui-el-input {
    
    &-prepend {
      @apply psui-pl-2 psui-flex psui-items-center psui-pointer-events-none 
    }

    &-append {
      @apply psui-pr-2 psui-flex psui-items-center
    }

    &-hint {
      @apply psui-text-gray-50 psui-mt-1;
      font-size: 12px;
      line-height: 24px;
    }

    &-wrapper {
      @apply psui-relative psui-w-full psui-border psui-border-gray-30 psui-rounded-md psui-bg-white psui-flex;
      transition: ease 130ms;
    }

    label {
      @apply psui-font-bold psui-text-gray-80;
      line-height: 32px;
      
    }

    input {
      @apply psui-bg-white psui-text-gray-60 psui-w-full psui-rounded-md   
    }
    
    &.status-error {
      .psui-el-input-wrapper {
        @apply psui-border-red-20
      }
      .psui-el-input-hint  {
        @apply psui-text-red-20
      }
    }

    &.status-disabled {
      .psui-el-input-wrapper {
        @apply psui-bg-gray-20 psui-border-gray-20
      }
      input {
        @apply psui-bg-gray-20 psui-text-gray-40
      }
      label {
        @apply psui-text-gray-40
      }
    }
    
    /* Layout Default */
    /* ----------------------------------------- */
    
      &.layout-default {
        
        input {
          @apply psui-text-p;
          padding: 11.5px 16px;
        }          

        &.status-resting {
          .psui-el-input-wrapper{
            &:hover {
              @apply psui-border-blue-50
            }
          }          

        }

        &.status-active {
          .psui-el-input-wrapper {
            @apply psui-border-blue-60
          }
        }

      }
    /* ----------------------------------------- Layout Default */
    
    
    /* Layout Mini */
    /* ----------------------------------------- */
      &.layout-mini {
        input {
          @apply psui-text-small;
          padding: 7px 8px;
        }
        &.status-resting {
          .psui-el-input-wrapper {
            &:hover {
              @apply psui-border-green-20
            }
          }
        }
        &.status-active {
          .psui-el-input-wrapper {
            @apply psui-border-green-20;
            input {
              @apply psui-text-green-20;
              &.focus {
                @apply psui-text-gray-60
              }
            }
          }
        }
      }
    /* ----------------------------------------- Layout Mini */
    
  }

}