@layer components {
    .psui-el-inline-selector {
        @apply psui-w-auto psui-max-w-full psui-text-h4 psui-relative psui-flex-shrink-0 psui-text-blue-60 psui-box-border;

        ::-webkit-scrollbar {
            @apply psui-bg-gray-30;
            display: block;
            width: 6px;
        }

        ::-webkit-scrollbar-thumb {
            @apply psui-bg-blue-70 psui-rounded;
        }

        input {
            @apply psui-border-b psui-border-dashed psui-border-blue-50;
            transition: 300ms ease-in all;
            padding-bottom: 3px;

            &::placeholder {
                @apply psui-text-h4 psui-text-gray-40
            }
        }

        .psui-el-inline-selector-input-wrapper {
            @apply psui-relative;

            span {
                @apply psui-block psui-opacity-0;
                min-width: 100px;
            }

            input {
                @apply psui-appearance-none psui-bg-transparent psui-block psui-absolute psui-w-full psui-left-0 psui-top-0;

                &:hover {
                    @apply psui-text-blue-50;
                }
            }
        }

        .psui-el-inline-selector-dropdown-wrapper {
            @apply psui-absolute psui-left-0 psui-bg-white psui-rounded psui-shadow-elevation-20 psui-z-50 psui-overflow-y-auto;
            max-height: 30vh;
            min-width: 300px;    

            .psui-el-inline-selector-dropdown {
                @apply psui-flex psui-bg-white;
    
                
                .psui-el-inline-selector-error {
                    @apply psui-w-full psui-p-3 psui-flex psui-flex-col;

                    h3 {
                        @apply psui-text-red-20
                    }

                    p {
                        @apply psui-text-gray-50
                    }
                }

                ul {
                    @apply psui-w-full psui-bg-white;

                    li {
                        @apply psui-flex psui-cursor-pointer;
                        padding: 7.5px 16px;

                        &:hover {
                                @apply psui-bg-blue-20;
                                
                            span p {
                                    @apply psui-text-blue-60;
                                }
                        }

                        span {
                            @apply psui-flex psui-items-center psui-w-full;

                            > p {
                                @apply psui-inline-block psui-text-big psui-text-gray-60 psui-flex-shrink-0;
                            }

                            p + p {
                                @apply psui-text-gray-40 psui-ml-auto psui-inline-block;
                                font-size: 12px;
                                line-height: 120%;
                            }
                        }
                    }
                }
            }
        }
    }
}