@layer components {
    .psui-el-input-select {
        @apply psui-w-full psui-flex psui-flex-col psui-relative psui-text-gray-40 psui-box-border;
        transition: ease 130ms;

        &.disabled {
            @apply psui-pointer-events-none;

            label {
                @apply psui-text-gray-40 
            }

            select {
                @apply  psui-text-gray-40 psui-border-gray-20 psui-bg-gray-20 !important
            }

            &::after {
                @apply psui-z-20 psui-text-gray-50 !important;
            }
        }

        &.layout-default {

            &.selected {
                select {
                    @apply psui-border-blue-50 psui-text-gray-60
                }
            }
    
            &::after {
                @apply psui-absolute psui-inline-block psui-text-gray-50;
                content: 'arrow_drop_down';
                font-family: 'Material Icons Round';
                font-size: 24px;
                top: 38px;
                right: 15px;
                z-index: -20;
            }
    
            select {
                @apply psui-appearance-none psui-bg-transparent psui-text-big psui-w-full psui-border psui-border-gray-30 psui-rounded-md psui-text-gray-40;
                padding: 11.5px 16px;
    
                &:hover,
                &:active {
                    @apply psui-border-blue-50 psui-text-gray-60
                }
    
                &:focus {
                    @apply psui-border-blue-60 psui-text-gray-60
                }
            }

        }


        label {
            @apply psui-flex psui-text-gray-80 psui-items-center psui-w-full psui-font-bold psui-pointer-events-none;
            font-size: 16px;
            line-height: 32px;
        }

        .psui-el-input-helper {
            @apply psui-text-gray-50;
            font-size: 12px;
            line-height: 24px;
        }

        &.layout-mini {


            select {
                @apply psui-text-small psui-appearance-none psui-bg-transparent psui-w-full psui-border psui-border-gray-30;
                border-radius: 4px;
                padding: 7px 8px;

                &:hover,
                &:active {
                    @apply psui-border-green-20 psui-text-gray-50
                }
    
                &:focus {
                    @apply psui-border-green-70 psui-text-gray-50
                }
    

            }

            &::after {
                @apply psui-absolute psui-inline-block psui-text-gray-50 ;
                content: 'unfold_more';
                font-family: 'Material Icons Round';
                font-size: 18px;
                top: 4px;
                right: 4px;
                z-index: -20;
            }
            
            &.selected {
                select {
                    @apply psui-border-green-20 psui-text-green-70
                }
            }
    
        }
    }
}