@layer components {
    .psui-el-mini-tag {
        @apply psui-flex psui-rounded-full psui-items-center psui-justify-center psui-flex-row;
        width: fit-content;


        div {
            @apply psui-w-full psui-font-bold;
            padding: 1px 8px 0px 8px;
            font-size: 10px;
            letter-spacing: 0.5px;
        }

        &-layout{
            &-info {
                @apply psui-bg-blue-20 psui-text-blue-60
            }
            
            &-success {
                @apply psui-bg-green-10 psui-text-green-70
            }

            &-warning {
                @apply psui-bg-yellow-10 psui-text-yellow-70
            }

            &-error {
                @apply psui-bg-red-10 psui-text-red-20
            }

            &-default {
                @apply psui-bg-gray-20 psui-text-gray-50
            }
        }
    }
}