@layer components {
    .psui-el-simple-progress-bar {
        @apply psui-relative psui-h-2;
        width: 100px;
        border-radius: 15px;

        &-percentage {
            @apply psui-absolute psui-block psui-h-full psui-overflow-visible;
            max-width: 100px;
            border-radius: 15px;
            background-size: 30px 30px;
            animation: animate-stripes 3s linear infinite;
        }

        @keyframes animate-stripes {
            0% {
                background-position: 0 0;
            }
            100% {
                background-position: 60px 0;
            }
        }
    }
}