@layer components {

        .psui-el-radio {
            @apply psui-relative psui-text-gray-50 psui-flex psui-bg-gray-10;

            &.disabled {
                .psui-el-checkmark {
                    @apply psui-cursor-default psui-text-gray-40 !important
                }

                .psui-el-checkmark::before {
                    @apply psui-text-gray-30 !important
                } 
            }

            &.size-small {
                @apply psui-text-small;

                input {
                    @apply psui-absolute psui-opacity-0 psui-h-0 psui-w-0;

                    &:checked ~.psui-el-checkmark::before {
                        @apply psui-text-blue-50;
                        font-size: 18px;
                        content: 'radio_button_checked';
                        font-family: 'Material Icons Round';                            
                    }
                }

                .psui-el-checkmark {
                    @apply psui-cursor-pointer psui-flex psui-items-center;
                    height: 18px;

                    span {
                        margin-left: 8px;
                    }

                    &::before {
                        content: 'radio_button_unchecked';
                        @apply psui-text-gray-40;
                        font-family: 'Material Icons Round';
                        font-size: 18px;
                    }
                }
            }

            &.size-big {
                @apply psui-text-small;

                input {
                    @apply psui-absolute psui-opacity-0 psui-h-0 psui-w-0;

                    &:checked ~.psui-el-checkmark::before {
                        @apply psui-text-blue-50;
                        font-size: 24px;
                        content: 'radio_button_checked';
                        font-family: 'Material Icons Round';                            
                    }
                }

                .psui-el-checkmark {
                    @apply psui-cursor-pointer psui-flex psui-items-center;
                    height: 24px;

                    span {
                        margin-left: 8px;
                    }

                    &::before {
                        content: 'radio_button_unchecked';
                        @apply psui-text-gray-40;
                        font-family: 'Material Icons Round';
                        font-size: 24px;
                    }
                }
            }
        }
}