@layer components {
    .psui-el-slider {
        .psui-el-slider-label {
            @apply psui-mb-2;

            span {
                @apply psui-text-gray-50 psui-text-small
            }
        }
    }
}