@layer components {
    .psui-el-switch {
        @apply psui-relative psui-inline-block psui-rounded-3xl;

            &.disabled {
                pointer-events: none;
            }
            &.size-big{
                width: 46px;
                height: 24px;  
            }
            &.size-small {
                width: 30px;
                height: 16px;

                .psui-el-switch-button {
                     &.toggle-false{   
                        &::before {
                            @apply psui-absolute psui-h-3 psui-w-3 psui-bg-white psui-rounded-full psui-transition-all psui-ease-in-out psui-duration-300 psui-shadow-elevation-20;
                            box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
                            left: 2px;
                            top: 2px;
                            content: ''; 
                        }
                    }
                    
                    &.toggle-true {
                        @apply psui-bg-green-20;
    
                        &::before {
                            @apply psui-absolute psui-h-3 psui-w-3 psui-bg-white psui-rounded-full psui-transition-all psui-ease-in-out psui-duration-300 psui-shadow-elevation-20;
                            box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
                            left: 16px;
                            top: 2px;
                            content: '';
                        }
                    }
                }   
            }
            :focus {
                @apply psui-outline-none;
            }
            input {
                @apply psui-opacity-0 psui-w-0 psui-h-0;
            }
            .psui-el-switch-button {
                @apply psui-absolute psui-inline-block psui-cursor-pointer psui-top-0 psui-left-0 psui-right-0 psui-bottom-0 psui-bg-gray-40 psui-rounded-full psui-transition-all psui-ease-in-out psui-duration-500;
                
                 &.toggle-false{   
                    &::before {
                        @apply psui-absolute psui-h-5 psui-w-5 psui-bg-white psui-rounded-full psui-transition-all psui-ease-in-out psui-duration-300 psui-shadow-elevation-20;
                        left: 2px;
                        top: 2px;
                        content: '';
                    }
                }
                
                &.toggle-true {
                    @apply psui-bg-green-20;

                    &::before {
                        @apply psui-absolute psui-h-5 psui-w-5 psui-bg-white psui-rounded-full psui-transition-all psui-ease-in-out psui-duration-300 psui-shadow-elevation-20;
                        left: 24px;
                        top:2px;
                        content: '';
                    }
                }
            }
    }
}