@layer components{

  .psui-el-tab-header {
    @apply psui-flex;

    button {
      @apply transition-default psui-text-small;
      &.status-disabled {
        @apply cursor-not-allowed
      }

      &:focus {
        outline: none;
      }
    }

    &.status-disabled {
      .psui-el-input-wrapper {
        @apply psui-bg-gray-20 psui-border-gray-20
      }
    }

    /* 	Layout Standard  */
    /* ----------------------------------------- */
      &.layout-standard {
        @apply psui-rounded-md;
        
        button {
          @apply psui-bg-gray-10 psui-text-gray-60;
          padding: 6px 12px;
          box-shadow: inset 0px 0px 8px rgba(40, 50, 59, 0.05);

          &:not(:last-child) {
            margin-right: 1px;
          }

          &:first-child {
            @apply psui-rounded-l;
          }

          &:last-child {
            @apply psui-rounded-r;
          }

          &:hover {
            @apply psui-text-blue-60;
            box-shadow: inset 0px 0px 8px rgba(40, 50, 59, 0.05);
          }

          &.status-active {
            @apply psui-text-white psui-bg-blue-60 psui-font-bold;
          }

          &.status-disabled:hover {
            @apply psui-text-gray-60;
          }
        }
      }
    /* ----------------------------------------- 	Layout Standard */
    
    /* Layout Underline */
    /* ----------------------------------------- */
      &.layout-underline {
        @apply psui-border-b psui-border-gray-20;

        button {
          @apply psui-text-gray-50 psui-font-bold;
          border-bottom: 3px solid transparent;
          padding: 11.5px 0;

          &:hover {
            @apply psui-text-blue-60;
          }

          &:not(:last-child) {
            margin-right: 20px;
          }

          &.status-enable:hover {
            @apply psui-text-blue-60;
          }

          &.status-active {
            @apply psui-text-blue-60 psui-border-blue-50
          }
        }
      }
    /* ----------------------------------------- Layout Underline */
    
    
    /* Layout Folder */
    /* ----------------------------------------- */
      &.layout-folder {
        button {
          @apply psui-bg-gray-10 psui-text-gray-50 psui-rounded-t;
          padding: 9px 12px;

          &:hover {
            @apply psui-text-blue-60;
          }

          &:not(:last-child) {
            margin-right: 4px;
          }

          &.status-enable:hover {
            @apply psui-text-gray-60;
          }

          &.status-active {
            @apply psui-text-blue-60 psui-font-bold psui-bg-white;
          }
        }
      }
    /* ----------------------------------------- Layout Folder */
    
  }

}