@layer components{

  .psui-el-toggle {
    @apply psui-flex psui-bg-gray-10 psui-items-center;
    padding: 2px;
    gap: 2px;
    border-radius: 4px;

    button {
      @apply transition-default psui-inline-flex psui-text-small psui-bg-gray-10 psui-text-blue-60 psui-outline-none psui-align-middle;
      border-radius: 4px;
      padding:1px 8px;

      &.status-active {
        @apply psui-bg-blue-60 psui-text-white psui-font-bold psui-shadow-elevation-10;
      }

      &:not(.status-active) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    
  }

}