@layer components {
    .psui-el-tooltip {

        .psui-el-tooltip-wrapper{
            @apply psui-relative;

            .psui-el-tooltip-dialog {
                @apply psui-fixed psui-opacity-0 psui-transition-opacity psui-duration-300 psui-ease-in-out;
                transition-delay: 0.4s;

                .psui-el-tooltip-content {
                    @apply psui-flex psui-flex-col psui-bg-gray-50 psui-text-white;
                    padding: 5px 8px 4px 8px;
                    border-radius: 4px;

                    h2 {
                        @apply psui-font-bold;
                    }

                    .psui-el-tooltip-content-wrapper{
                        @apply psui-text-xsmall psui-font-bold;
                    }

                    &.layout {
                        &-gray {
                            @apply psui-bg-gray-30 psui-text-gray-80 psui-shadow-none;
                            font-size: 12px;
                            line-height: 120%;
                            padding: 10px 16px 12px 16px;
                            
                            .psui-el-tooltip-content-wrapper {
                                @apply psui-font-normal psui-mt-1 
                            }
                        }

                        &-blue {
                            @apply psui-bg-blue-70 psui-text-white psui-shadow-none;
                            font-size: 12px;
                            line-height: 120%;
                            padding: 10px 16px 12px 16px;
                            
                            .psui-el-tooltip-content-wrapper {
                                @apply psui-font-normal psui-mt-1
                            }
                        }

                        &-red {
                            @apply psui-bg-red-10 psui-text-red-70 psui-shadow-none;
                            font-size: 12px;
                            line-height: 120%;
                            padding: 10px 16px 12px 16px;

                            .psui-el-tooltip-content-wrapper {
                                @apply psui-font-normal psui-mt-1
                            }
                        }

                        &-white {
                            @apply psui-bg-white psui-py-4 psui-px-6 psui-flex psui-flex-col psui-shadow-elevation-30;
                            gap: 8.8px;
                             
                            h2 {
                                @apply psui-text-gray-80 psui-font-bold;
                                font-size: 17px;
                                line-height: 120%;
                            }

                            .psui-el-tooltip-content-wrapper {
                                @apply psui-text-gray-50 psui-font-normal psui-flex psui-flex-col;
                                gap: 13.6px;
                                font-size: 14px;
                                line-height: 120%;

                                button {
                                    @apply  psui-rounded-md psui-bg-blue-20 psui-text-blue-60 psui-font-bold;
                                    padding: 7px 16px;
                                    width: fit-content;
                                    
                                    &:focus {
                                        outline: none;
                                    }
                                }       
                            }
                        }

                        &-dark {
                            @apply psui-bg-blue-70 psui-py-4 psui-px-6 psui-flex psui-flex-col psui-shadow-elevation-30;
                            gap: 8.8px;
                            
                            h2 {
                                @apply psui-text-white psui-font-bold;
                                font-size: 17px;
                                line-height: 120%;
                            }

                            .psui-el-tooltip-content-wrapper {
                                @apply psui-text-white psui-font-normal  psui-flex psui-flex-col;
                                gap: 13.6px;
                                font-size: 14px;
                                line-height: 120%;

                                button {
                                    @apply  psui-rounded-md psui-bg-blue-60 psui-text-white psui-font-bold;
                                    padding: 7px 16px;
                                    width: fit-content;

                                    &:focus {
                                        outline: none;
                                    }

                                }       
                            }
                        }

                        &-color {
                            @apply psui-bg-blue-50 psui-py-4 psui-px-6 psui-flex psui-flex-col psui-shadow-elevation-30;
                            gap: 8.8px; 


                            h2 {
                                @apply psui-text-white psui-font-bold;
                                font-size: 17px;
                                line-height: 120%;
                            }

                            .psui-el-tooltip-content-wrapper {
                                @apply psui-text-white psui-font-normal psui-flex psui-flex-col;
                                gap: 13.6px;
                                font-size: 14px;
                                line-height: 120%;

                                button {
                                    @apply  psui-rounded-md psui-bg-blue-60 psui-text-white psui-font-bold;
                                    padding: 7px 16px;
                                    width: fit-content;

                                    &:focus {
                                        outline: none;
                                    }

                                }       
                            }
                        }

                    }
                }
            }
        }
    }
}