@layer components {
    .psui-el-toast {
        @apply psui-flex psui-items-center psui-text-big psui-text-white psui-py-3 psui-px-4 psui-rounded-md psui-font-bold psui-shadow-elevation-20;    

        .psui-el-toast-icon {
            @apply psui-flex psui-mr-4;
            font-size: 24px; 
        }
        
        .psui-el-toast-message {
            @apply psui-mr-auto
        }

        .psui-el-toast-actions {
            @apply psui-flex psui-gap-4 psui-text-accentSmall;            
        }

        &.fill-intense.layout{
                &-info {
                    @apply psui-bg-blue-60
                }
                
                &-success {
                    @apply psui-bg-green-20
                }

                &-warning {
                    @apply psui-bg-yellow-20
                }

                &-error {
                    @apply psui-bg-red-20
                }
            }    
        
        &.fill-soft.layout {
            &-info {
                @apply psui-text-blue-60 psui-bg-blue-20;
            }
            
            &-success {
                @apply psui-text-green-20 psui-bg-green-10
            }
            &-warning {
                @apply psui-text-yellow-20 psui-bg-yellow-10
            }
            &-error {
                @apply psui-text-red-20 psui-bg-red-10
            }
        }
    }
}