<template>
  <div 
    class="psui-el-chips" 
    :class="[getComponentClass, `layout-${layout}`, `type-${type}`]"
  >
    <input
      @change="onChange"
      :disabled="disabled"
      v-if="type != 'button'"
      :type="type"
      :id="label"
      :checked="checked"
    />
    <label
      @click="onClick"
      :disabled="disabled"
      :for="label"
      :class="getCssClass"
    >
      <i v-if="icon" class="psui-el-chips-icon psui-el-chips-icon-prepend">{{ icon }}</i>
      {{ label }}
      <button 
        @click="onClose" 
        v-if="layout === 'rich'" 
        class="psui-el-chips-close"
      >
        <span class="psui-el-chips-icon">close</span>
      </button>
    </label>
  </div>
</template>

<script>
export const type = ['radio', 'checkbox', 'button']

export default {
  name: 'PsChips',
  props: {
    /**
     * It sets the label of the chips button.
     */
    label: {
      type: String,
      default: '',
    },
    /**
     * It sets the type of the chips button. eg: radio, checkbox, button.
     */
    type: {
      type: String,
      required: true,
      default: 'button',
      validator: (type) => ['radio', 'checkbox', 'button'].includes(type)
    },
    /**
     * It sets the layout of the chipsbutton. eg: simple, with-icon, rich.
     */
    layout: {
      type: String,
      default: 'simple',
      validator: (value) => ['simple', 'with-icon', 'rich'].includes(value)
    },
    /**
    * It sets the text key which will retrieve a icon from Google Fonts. Make sure to get the right description of your icon on https://fonts.google.com/.
    */
    icon: {
      type: String,
      default: '',
    },
    /**
     * It sets if the button was checked or not checked.
     */
    checked: {
      type: Boolean,
      default: false
    },
    /**
     * It disables the chips button.
     */
    disabled: {
      type: Boolean,
      default: false
    },
    /**
     * It sets if the button is active or not.
     */
    active: {
      type: Boolean,
      default: false
    },
  },
  emits: ['click', 'change'],
  data() {
    return {
      isChecked: false,
    }
  },
  computed: {
    getComponentClass() {
      if (this.disabled) {
        return 'status-disabled'  
      } else {
        return 'status-resting'
      }
    },
    getCssClass() {
      let cssClass = ''
      
      if (this.checked === true ) {
        cssClass = 'psui-text-blue-50 psui-bg-blue-20'
      }

      return cssClass
    },
  },
  methods: {
    onClick() {
      this.isChecked = !this.isChecked
      this.$emit('click')
    },
    onChange(event) {
      this.isChecked = event.target.checked
      this.$emit('update:checked', event.target.checked)
      this.$emit('change', event)
    },
    onClose() {
      this.$emit('close')
    },
  },
}
</script>

<style> /* Please, use the file src/assets/scss/components/PsChips.scss */</style>
