<template>
  <div class="wrapper psui-flex psui-gap-4">
    <div 
      class="visible-scrollbar psui-flex psui-flex-col psui-h-full psui-w-56 psui-bg-gray-30 psui-p-2"
      @click="onClick"
    >
        <h2 class="psui-font-bold">Scrollbar Playground (click over here to copy the computed style to clipboard)</h2>
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, id.</p>
    </div>
    <div class="psui-flex psui-bg-gray-60 psui-p-2 psui-gap-4">
      <div class="psui-flex psui-flex-col">
        <div class="psui-flex psui-flex-col psui-w-48">
          <label for="width">Scroll Width (px)</label>
          <input type="text" id="width" name="width" @change="onChange">
        </div>
        <div class="psui-flex psui-flex-col psui-w-48">
          <label for="width">Scroll Height (px)</label>
          <input type="text" id="height" name="height" @change="onChange">
        </div>
        <div class="psui-flex psui-flex-col psui-w-48">
          <label for="width">ScrollTrack Color</label>
          <input type="text" id="track" name="track" @change="onChange">
        </div>
        <div class="psui-flex psui-flex-col psui-w-48">
          <label for="width">Thumb Color</label>
          <input type="text" id="thumb" name="thumb" @change="onChange">
        </div>
        <div class="psui-flex psui-flex-col psui-w-48">
          <label for="width">Thumb Border-Radius (px)</label>
          <input type="text" id="thumb-radius" name="thumb-radius" @change="onChange">
        </div>
        <div class="psui-flex psui-flex-col psui-w-48">
          <label for="width">Thumb Border Size(px)</label>
          <input type="text" id="thumb-border" name="thumb-border" @change="onChange">
        </div>
        <div class="psui-flex psui-flex-col psui-w-48">
          <label for="width">Thumb Border Color</label>
          <input type="text" id="thumb-border-color" name="thumb-border-color" @change="onChange">
        </div>
        <div class="psui-flex psui-flex-col psui-w-48">
          <label for="width">Thumb Border Style</label>
          <select id="thumb-border-style" name="thumb-border-style" v-model="selectedStyle">
                <option value="" hidden selected></option>
                <option   
                  v-for="(style, index) in borderStyle"
                  :value="style"
                  :key="index"
                >{{style}}</option>
          </select>
        </div>
      </div>
      <div class="psui-flex psui-flex-col">
        <div class="psui-flex psui-flex-col psui-w-48">
          <label for="width">Thumb Hover Color</label>
          <input type="text" id="thumb-hover-color" name="thumb-hover-color" @change="onChange">
        </div>
        <div class="psui-flex psui-flex-col psui-w-48">
          <label for="width">Thumb Hover Border Size</label>
          <input type="text" id="thumb-hover-border-size" name="thumb-hover-border-size" @change="onChange">
        </div>
        <div class="psui-flex psui-flex-col psui-w-48">
          <label for="width">Thumb Hover Border Color</label>
          <input type="text" id="thumb-hover-border-color" name="thumb-hover-border-color" @change="onChange">
        </div>
        <div class="psui-flex psui-flex-col psui-w-48">
          <label for="width">Thumb Border Style</label>
          <select id="thumb-border-style" name="thumb-border-style" v-model="selectedHoverStyle">
                <option value="" hidden selected></option>
                <option   
                  v-for="(style, index) in borderStyle"
                  :value="style"
                  :key="index"
                >{{style}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
    name: 'PsScrollBar',
    data(){
      return {
          borderStyle: ['dotted', 'dashed', 'solid', 'double', 'groove', 'ridge', 'inset', 'ouset'],
          selectedStyle: null,
          selectedHoverStyle: null
      }
    },
    watch:{
        selectedStyle(){
          const visibleScrollBar = document.querySelector('.visible-scrollbar')
          visibleScrollBar.style.setProperty('--scrollbar-thumb-border-style', this.selectedStyle)    
        },
        selectedHoverStyle(){
          const visibleScrollBar = document.querySelector('.visible-scrollbar')
          visibleScrollBar.style.setProperty('--scrollbar-thumb-hover-border-style', this.selectedHoverStyle)
        }
    },
    methods:{
      onChange(event){
      
      const visibleScrollBar = document.querySelector('.visible-scrollbar')

      switch(event.target.id){
        case 'width':
        visibleScrollBar.style.setProperty('--scrollbar-width', `${event.target.value}px`)
        break
        case 'thumb':
        visibleScrollBar.style.setProperty('--scrollbar-thumb-color', event.target.value)
        break
        case 'track':
        visibleScrollBar.style.setProperty('--scrollbar-track-color', event.target.value)  
        break
        case 'thumb-radius':
        visibleScrollBar.style.setProperty('--scrollbar-thumb-radius', `${event.target.value}px`)
        break
        case 'thumb-border':
        visibleScrollBar.style.setProperty('--scrollbar-thumb-border', `${event.target.value}px`)
        break
        case 'thumb-border-color':
        visibleScrollBar.style.setProperty('--scrollbar-thumb-border-color', event.target.value)
        break
        case 'height':
        visibleScrollBar.style.setProperty('--scrollbar-height', `${event.target.value}px`)    
        break
        case 'thumb-hover-color':
        visibleScrollBar.style.setProperty('--scrollbar-thumb-hover-color', event.target.value)
        break
        case 'thumb-hover-border-size':
        visibleScrollBar.style.setProperty('--scrollbar-thumb-hover-border-size', `${event.target.value}px`)
        break    
        case 'thumb-hover-border-color':
        visibleScrollBar.style.setProperty('--scrollbar-thumb-hover-border-color', event.target.value)
        break        
      }

    },
    onClick(){
      const visibleScrollBar = document.querySelector('.visible-scrollbar')

      const styleScrollBar = getComputedStyle(visibleScrollBar, '::-webkit-scrollbar')
      const styleScrollBarTrack = getComputedStyle(visibleScrollBar, '::-webkit-scrollbar-track')
      const styleScrollBarThumb = getComputedStyle(visibleScrollBar, '::-webkit-scrollbar-thumb')
      const styleScrollBarThumbHover = getComputedStyle(visibleScrollBar, '::-webkit-scrollbar-thumb:hover')
      const styleScrollBarCorner = getComputedStyle(visibleScrollBar, '::-webkit-scrollbar-corner')

      navigator.clipboard.writeText(`
        ::-webkit-scrollbar {
        display: ${styleScrollBar.display};
        width: ${styleScrollBar.width};
        }

        ::-webkit-scrollbar-track {
        background-color: ${styleScrollBarTrack.backgroundColor};
        }

        ::-webkit-scrollbar-thumb {
        background-color: ${styleScrollBarThumb.backgroundColor};
        border-radius: ${styleScrollBarThumb.borderRadius};
        border: ${styleScrollBarThumb.border};  
        }

        ::-webkit-scrollbar-thumb:hover {
          background-color: ${styleScrollBarThumbHover.backgroundColor};
          border: ${styleScrollBarThumbHover.border};
        }

        ::-webkit-scrollbar-corner {
        display: ${styleScrollBarCorner.display};
        background-color: ${styleScrollBarCorner.backgroundColor};
        height: ${styleScrollBarCorner.height};
        width: ${styleScrollBarCorner.width};
        }
      `)

      window.alert('Copied to clipboard')
    }
  },
}

</script>

<style scoped>

  .visible-scrollbar{
    overflow: scroll;
    white-space: nowrap;
  }

  .visible-scrollbar::-webkit-scrollbar {
    display: block;
    width: var(--scrollbar-width, 10px);
    height: var(--scrollbar-height, 10px);
  }

  .visible-scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color, gray);
  }

  .visible-scrollbar::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color,black);
    border-radius: var(--scrollbar-thumb-radius);
    border: var(--scrollbar-thumb-border) var(--scrollbar-thumb-border-style) var(--scrollbar-thumb-border-color);
  }

  .visible-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color, black);
    border: var(--scrollbar-thumb-hover-border-size) var(--scrollbar-thumb-hover-border-style) var(--scrollbar-thumb-hover-border-color);
  }

  .visible-scrollbar::-webkit-scrollbar-corner {
    display: none;
    background-color: var(--scrollbar-track-color, gray);
    height: var(--scrollbar-height, 10px);
    width: var(--scrollbar-width, 10px);
  }

  .wrapper {
    height: 450px;
  }
</style>