<template>
  <div class='psui-el-checkbox' :class="[getComponentClass, {'disabled':disabled}]" >
    <input 
      :id="label" 
      type="checkbox" 
      :value="inputValue"
      v-model="model"
      :disabled="disabled"      
    />
    <label :for="label" class="psui-el-checkmark"><span>{{ label }}</span></label>    
  </div>
</template>

<script>
//FIGMA CONTROLS & SELECTORS https://www.figma.com/file/Tto8hrNlSfuPcwd1pfqogF/%E2%9A%A1%EF%B8%8F-Design-System?node-id=1768%3A64852

export default {
  name: 'PsCheckbox',
  props: {
    /**
     * It sets the label of the checkbox input.
     */
    label: {
      type: String,
      default: '',
    },
    /**
     * It sets the value which should be monitored.
    */
    inputValue: {
      type: String,
    },
    value:{
      type: Array
    },
    /**
     * It disables the checkbox input.
     */
    disabled: {
      type: Boolean,
      default: false,
    },
    /**
     * It set the of the checkbox input. eg: big and small.
     */
    size: {
      type: String,
      default: 'big',
      validator: (value)=> ['big', 'small'].includes(value)
    },
    /**
     * It set the layout of the checkbox input. eg: default and mixed.
     */
    layout:{
      type: String,
      default: 'default',
      validator: (value)=> ['default','mixed'].includes(value)
    }
  },
  computed:{
    getComponentClass(){
      return `size-${this.size} layout-${this.layout}`
    },
    model: {
      get(){
        return this.value
      },
      set(value){
        this.$emit('input', value)
      }
    }  
  },
}
</script>
