<template>
  <div class="psui-el-draggable">
    <div class="psui-el-draggable-wrapper"
      v-for="(columnGroup, indexColumnGroup) in getColumns.columnGroups"
      :key="indexColumnGroup"
      :ref="indexColumnGroup"
    >
      <!-- COLUMN GROUP -->
      <div 
        class="psui-el-draggable-title"
        draggable="true"
        @dragstart="onDragStart"
        @dragover="$emit('drag-over', $event)"
        @dragend="onDragEnd"
      >
        <h2 >{{columnGroup.title}}</h2>
        <i >drag_indicator</i>
      </div>

      <ul class="psui-el-draggable-list-items-wrapper">
        <!-- COLUMNS -->
        <li
          v-for="(column, indexColumn) in columnGroup.columns"
          :key="`edit-columns-column-${indexColumnGroup}-${indexColumn}`"
          :id="`edit-columns-column-${indexColumnGroup}-${indexColumn}`"
        >
          <div class="psui-el-draggable-item-wrapper"
            draggable="true"
            @dragstart="$emit('drag-start-item',$event)"
            @dragover="$emit('drag-over-item',$event)"
            @dragend="$emit('drag-end-item',$event)"
          >
            <slot name="item">
            </slot>
            <div class="psui-el-draggable-item-icon">
              <i>drag_indicator</i>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>

export default {
  name: 'PsDraggable',
  props: {
    /**
     * It sets the data that will be used.
     */
    getColumns: {
      type: Object,
    },
    /**
     * It sets the module which will be used to set getters and actions.
     */
    module:{
      type: String
    }
  }, 
  methods:{
    onDragStart(event){
      this.$emit('drag-start', event)
    },

    onDragEnd(event){
      this.$emit('drag-end',event)
    }
  }
}
</script>
