<template>
  <div 
    class="psui-el-inline-selector"
    @keydown.up="$emit('keydown-up', $event)"
    @keydown.down="$emit('keydown-down', $event)"
    @keydown.enter="$emit('keydown-enter', $event)"
    @keydown.tab="$emit('keydown-tab',$event)"
    @keydown.esc="$emit('keydown-esc',$event)"
    @mouseleave="$emit('mouse-leave',$event)"
  >

    <div class='psui-el-inline-selector-input-wrapper'>
      <span> {{ search ? search : placeholder }} </span>
      <input
        ref="input"
        :label="label"
        :placeholder="placeholder"
        @input="$emit('input', $event)"
        @focus="$emit('focus', $event)"
        @blur="$emit('blur', $event)"
        autocomplete="chrome-off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
      />
    </div>
    <transition
        enter-active-class="transition ease-out duration-100 transform"
        enter-class="opacity-0 scale-95"
        enter-to-class="opacity-100 scale-100"
        leave-active-class="transition ease-in duration-100 transform"
        leave-class="opacity-100 scale-100"
        leave-to-class="opacity-0 scale-95"
      >
      <div 
        v-if="search"
        role="menu" 
        aria-orientation="vertical"
        class="psui-el-inline-selector-dropdown-wrapper"
      >
      <slot name='loader'></slot>
        <div class="psui-el-inline-selector-dropdown">
          <div v-if="requestFetched && !jurisdictions.length">
            <h3>Hmmmm</h3>
            <p>Please check the spelling and try again</p>
          </div>
          <ul v-else>
            <li
              tabindex="0"
              v-for="(jurisdiction, index) in jurisdictions"
              :key="`dropdown-jurisdiction-${jurisdiction.id}`"
              :id="`jurisdiction-list-item-${index}`"
              @click="$emit('click', $event)"
              @mouseover="('mouse-over', $event)"
            >
              <span >
                <h3>{{jurisdiction.title}}</h3>
                <h3 >{{jurisdiction.type}}</h3>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'PsInlineSelector',
  props: {
    /**
     * It sets the default width of the inline selector.
     */
    width: {
      default: 244
    },
    /**
     * It sets if it should receive focus or not when componented is mounted.
     */
    focusOnMount: {
      default: false
    },
    /**
     * It sets if the component should be scrollable.
     */
    shouldScroll: {
      default: false
    },
    /**
     * It sets the label of the component.
     */
    label: {
      type: String,
      default: 'Type a City or County'
    },
    selectOnlyFirstClimateZone: {
      type: Boolean,
      default: false
    },
    /**
     * It sets the jurisdiction selected.
     */
    jurisdictionSelected: {
      type: [ Object, Boolean ]
    },
    /**
     * It gets and set the data that was written.
     */
    search: {
      type: String,
      default: '',
      required: true
    },
    /**
     * It provides all the jurisdictions. 
     */
    jurisdictions: {
      type: Array,
      default: () => [],
      required: true
    },
    /**
     * It is a helper for checking if fetching data was successful.
     */
    requestFetched: {
      type: Boolean,
    },
    showDropDown:{
      type: Boolean,
      default: true,
    },
    currentSelected:{
      type: Number,
      default: 0,
    },
    /**
     * It sets if the component is focused or not.
     */
    isFocused:{
      type: Boolean,
      default: false,
    },
    /**
     * It sets the placeholder of the component.
     */
    placeholder:{
      type: String,
    }
  }
}
</script>

