<template>
  <div class='psui-el-radio' :class="[getComponentClass, {'disabled':disabled}]" >
    <input 
      :id="label" 
      type="radio" 
      :value="inputValue"
      v-model="model"
      :disabled='disabled'      
    />
    <label :for="label" class="psui-el-checkmark"><span>{{ label }}</span></label>    
  </div>

</template>

<script>
//FIGMA CONTROLS & SELECTORS https://www.figma.com/file/Tto8hrNlSfuPcwd1pfqogF/%E2%9A%A1%EF%B8%8F-Design-System?node-id=1768%3A64852

export default {
  name: 'PsRadioButton',
  props: {
    /**
    * It sets the label of the radio button.
     */
    label: {
      type: String,
      default: '',
    },
    /**
    * It's the value of the checkbox
     */
    inputValue:{
      type: String,
    },
    value:{
      type: String
    },
    /**
    * It disables the radio button. All mouse events are disabled.
     */
    disabled: {
      type: Boolean,
      default: false
    },
    /**
    * It sets the size of the radio button. eg: big and small.
     */
    size: {
      type: String,
      default: 'big',
      validator: (value) => ['big', 'small'].includes(value)
    },
  },
  computed: {
    getComponentClass(){
      return `size-${this.size}`
    },
    model: {
    get(){
      return this.value
    },
    set(value){
      this.$emit('input', value)
    }
  }  
  },
}
</script>

