<template>
  <div class="psui-el-slider">
    <div v-if="label" class="psui-el-slider-label">
      <span>{{label}}</span> 
    </div>
    <div :class="{'psui-flex psui-items-center': !label && !bubble }">
      <div
        v-if="bubble"
        class="psui-relative psui-bg-gray-40 psui-text-gray-20 psui-rounded-md psui-text-white psui-font-bold psui-w-10 psui-text-center range-value"
        :style="{ left: `${positionBubble}px` }"
      >
        {{ value }}
      </div>
      <input
        type="range"
        :min="min"
        :max="max"
        :value="value" 
        @input="$emit('update:value', Number($event.target.value))"
        class="slider psui-float-left"
        ref="slider"
      />
      <span v-if="!label && !bubble" class="psui-bg-gray-20 psui-font-bold psui-text-gray-50 psui-px-2 psui-py-px psui-rounded-sm psui-float-left psui-ml-2">{{ value }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PsSlider',
  props: {
    min: {
      type: Number,
      default: 0,
    },    
    max: {
      type: Number,
      required: true,
    },
    label: {
      type: String,
    },
    value: {
      type: [Number, String],
    },
    baseValue: {
      type: [Number, Boolean]
    },
    labelPosition: {
      type: String
    },
    step: {
      type: Number,
      default: 1
    },
    bubble: {
      type: Boolean
    }
  },
  data: () => {
    return {
      isMounted: false
    }
  },
  computed: {
    positionBubble() {
      if (this.bubble && this.isMounted) {
        return (this.$refs.slider.offsetWidth / this.max) * this.value - 15
      }
      return 0
    }
  },
  mounted() {
    this.isMounted = true
  },
  methods: {
    getValueToScale(value) {
      return 100 * value / this.rangeDistanceMax
    }
  }
}
</script>

<style scoped>
.slider {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  border: none;
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #64B5CE;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #64B5CE;
  cursor: pointer;
}
.slider::-webkit-slider-progress, .slider::-moz-range-progress {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: #64B5CE;
  height: 6px;
}

.range-value{
  margin-bottom: 10px;
  padding: 2px 4px;

}
</style>