<template>
  <div class='psui-el-switch' :class="[getComponentClass, {'disabled':disabled}]" @click="change()">
      <input type="checkbox" :checked="value" />
      <label class='psui-el-switch-button' :class="[getToggleClass]" />
  </div>
</template>

<script>
//FIGMA CONTROLS & SELECTORS https://www.figma.com/file/Tto8hrNlSfuPcwd1pfqogF/%E2%9A%A1%EF%B8%8F-Design-System?node-id=1768%3A64852

export default {
  name: 'PsSwitch',
  props: {
    /**
    * It sets the label of the switch button.
     */
    label:{
      type: String,
    },
    /**
    * It sets the value of the switch button. 
     */
    value:{
      type: Boolean,
    },
    /**
     * It sets disabling mode.
     */
    disabled:{
      type: Boolean,
      default: false
    },
    /**
    * It sets the size of the switch button. eg: small and big.
     */
    size:{
      type: String,
      default: 'big',
      validator: (value)=> ['small', 'big'].includes(value)
    }
  },
  computed:{
    getToggleClass(){
      return this.value ? 'toggle-true' : 'toggle-false'
    },
    getComponentClass(){
      return `size-${this.size}`
    }
  },
  methods: {
    change() {
      this.$emit('update:value', !this.value)
      this.$emit('change', !this.value)
    }
  }
} 
</script>

