<template>
    <div class="psui-el-toggle" role="group">
      <button 
        type="button"
        v-for="(item, index) in items"
        :key="getKeyValue(item) + index"
        @click="selectOption(item)"
        :class="{ 'status-active': selected == item }"
      >
        {{ getKeyLabel(item) }}
      </button>
    </div>
</template>

<script>
//FIGMA CONTROLS & SELECTORS https://www.figma.com/file/Tto8hrNlSfuPcwd1pfqogF/%E2%9A%A1%EF%B8%8F-Design-System?node-id=1768%3A64852

export default {
  name: 'PsToggle',
  props: {
    /**
    * It sets the items which will be used to create the toggle tab. See Figma - Controls & Selector for more information.
     */
    items: {
      type: Array,
      required: true
    },
    /**
    * It sets the value selected.
     */
    selected: {},
    /**
    * It sets the key label of your items if needed.
     */
    keyLabel: {
      type: [String, Function],
      default: 'label'
    },
    /**
    * It sets the key value of your items if needed.
     */
    keyValue: {
      type: [String, Function],
      default: 'value'
    }
  },
  methods: {
    selectOption(item) {
      this.$emit('update:selected', item)
      this.$emit('change', item)
    },
    getKeyLabel(item) {
      if(typeof this.keyLabel == 'function') return this.keyLabel(item)
      if(typeof item === 'object') return item[this.keyLabel]
      return item
    },
    getKeyValue(item) {
      if(typeof this.keyValue == 'function') return this.keyValue(item)
      if(typeof item === 'object') return item[this.keyLabel]
      return item
    },
  }
}
</script>

<style> /* Please, use the file src/assets/scss/components/PsToggle.scss */</style>