<template>
  <div class="psui-el-chart-legend">
    <div class="psui-flex psui-flex-shrink-0">
      <div class="psui-el-chart-legend-dot" :style="dotColor"></div>
    </div>
    <div class="psui-flex-grow-1">
      <div class="psui-el-chart-legend-text">{{ text }}</div>
      <span v-if="this.total" class="psui-el-chart-legend-total">{{ total }}</span>
      <span class="psui-el-chart-legend-percentage" v-if="percentage"><span class="psui-text-gray-30" v-if="total && percentage"> | </span>{{ percentage }}%</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PsChartLegend',
  props: {
    /**
     * It sets the text of the chart legend.
     */
    text: {
      type: [String, Number],
      default: 'Climate Zone 10',
    },
    /**
     * It sets the data that will show up when component is mounted.
     */
    total: {
      type: String,
      default: null,
    },
    /**
     * It sets the data that wull show up when component is mounted.
     */
    percentage: {
      type: String,
      default: null,
    },
    /**
     * It sets the color of the dot component.
     */
    dotColor: {
      type: Object,
      default: null
    },
  },
}
</script>

<style> /* Please, use the file src/assets/scss/components/PsChartLegend.scss */</style>
