<template>
  <div class="psui-el-climate-zone-badge">
    <i v-if="icon"> {{ icon }} </i>
    <span>
      {{ content }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'PsClimateZoneBadge',
  props: {
    /**
     * It sets the text key to get the svg icon in Google Fonts. Make sure to get the right description of your icon on https://fonts.google.com/.
     */
    icon: {
      type: String,
      default: 'area_chart',
    },
    /**
     * It sets the content that will show up when the component is rendered.
     */
    content: {
      type: Number,
      default: 10,
    },
  },
}
</script>

<style>
/* Please, use the file src/assets/scss/components/PsClimateZoneBadge.scss */
</style>
