<template>
  <div class="psui-el-cost-effect-bar">
    <div>
      <span :style="breakEvenPosition"> </span>

      <PsProgressBar
        :value="value"
        :percentageColor="percentageColor"
        :bgColor="bgColor"
      >
      </PsProgressBar>
    </div>
  </div>
</template>

<script>
import PsProgressBar from './PsProgressBar.vue'
export default {
  name: 'PsCostEffectBar',
  components: {
    PsProgressBar,
  },

  props: {
    /**
     * It sets the value of the progress bar within costeffectbar.
     */
    value: {
      type: Number,
      required: true,
      default: 0,
    },
    /**
     * It sets the threshold of being effective or not effective within costeffectbar.
     */
    breakEven: {
      type: Number,
      required: true,
      default: 0,
    },
  },
  data() {
    return {
      errors: [],
    }
  },

  computed: {
    valueBar() {
      if (this.value > 100) return 100
      else if (this.value < 0) return 0
      else return this.value
    },

    breakEvenPosition() {
      return `left: ${this.breakEven >= 98 ? 98 : this.breakEven}px`
    },

    getIsBreakEven() {
      if (this.breakEven < 0) return 0
      else if (this.breakEven > 100) return 100
      else return this.breakEven
    },

    percentageColor() {
      return this.value >= this.breakEven
        ? 'psui-bg-blue-60'
        : 'psui-bg-red-20'
    },

    bgColor() {
      return this.value >= this.breakEven
        ? 'psui-bg-blue-20'
        : 'psui-bg-red-10'
    },
  },
}
</script>

<style>
/* Please, use the file src/assets/scss/components/PsCostEffectBar.scss */
</style>
