<template>
  <div class="psui-el-highlight-ripple-icon">
    <div class="psui-el-icon"></div>
  </div>
</template>

<script>
export default {
  name: 'PsHighlightRippleDot',
}
</script>

<style> /* Please, use the file src/assets/scss/components/PsHighlightRippleDot.scss */</style>

