<template>
  <div class="psui-el-mini-tag" :class="getComponentClass">
    <div>{{ message }}</div>
  </div>
</template>

<script>
export const typeOptions = [
  'info',
  'success',
  'warning',
  'error',
  'default',
]
export default {
  name: 'PsMiniTag',
  props: {
    /**
     * It sets the layout of the the minitag. eg: info, success, warning, error and default.
     */
    layout: {
      type: String,
      default: 'info',
      validator: (value) => typeOptions.indexOf(value) !== -1,
    },
    /**
     * It sets the message that will show up within the minitag when component is rendered.
     */
    message: {
      type: String,
      required: true,
    },
  },
  computed: {
    getComponentClass() {
      return `psui-el-mini-tag-layout-${this.layout}`
    },
  },
}
</script>

<style> /* Please, use the file src/assets/scss/components/PsMiniTag.scss */ </style>

