<template> 
      <div
        class="psui-el-simple-progress-bar"
        :class="bgColor"
        >
        <div
          class="psui-el-simple-progress-bar-percentage"
          :style="{ width: `${value}px` }"
          :class="percentageColor"
        ></div>
      </div>
</template>

<script>
export default {
  name: 'PsProgressBar',
  props: {
  /**
   * It sets the value of the progress bar.
   */
  value: {
    type: Number,
    required: true,
    default: 0,
    validator: (value) => {
      return value >= 0 && value <= 100
    },
  },
  /**
   * It sets the color of the progressbar.
   */
  percentageColor: {
    type: String,
    default: 'psui-bg-blue-60'
  },
  /**
   * It sets the background color of the progressbar.
   */
  bgColor: {
    type: String,
    default: 'psui-bg-blue-20'
    // required: true,
  },
  
  },
}
</script>

<style> /* Please, use the file src/assets/scss/components/PsProgressBar.scss */ </style>

