<template>
  <div @mouseenter="open" v-click-outside="close" ref="tooltip" class='psui-el-tooltip'>
    <div ref="tooltiptrigger" class='psui-el-tooltip-trigger'>
      <slot name="trigger"></slot>
    </div>

    <div class='psui-el-tooltip-wrapper'>
      <div
        role="menu"
        ref="dialog"
        class='psui-el-tooltip-dialog'
        :class="cssClass"
      >
        <div
          class="psui-el-tooltip-content"
          aria-orientation="vertical"
          :class="getComponentClass"
        >
          <h2 v-if="title">{{ title}}</h2>
          <div class="psui-el-tooltip-content-wrapper">
            <slot name="content"></slot>
            <button
              v-if="buttonText"
              @click="onClick"
            >
              {{ buttonText }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'PsDialogTooltip',
  props: {
    /**
     * It sets the title of the tooltip if needed.
     */
    title: {
      type: String,
    },
    /**
     * It sets the label of the button within the tooltip if needed.
     */
    buttonText: {
      type: String,
    },
    /**
     * It sets the layout of the tooltip. eg: white, dark and color.
     */
    layout: {
      type: String,
      default: 'white',
      validator: (value) => ['white', 'dark', 'color'].includes(value),
    },
    /**
     * It sets a additional styling if needed.
     */
    cssClass: {
      type: String,
      required: false,
    },
  },
  inheritAttrs: true,
  emits: ['show', 'click'],
  data() {
    return {
      show: false,
      closingTimeout: null,
    }
  },
  computed:{
    getComponentClass(){
      return `layout-${this.layout}`
    }
  },
  mounted() {
    document.addEventListener('resize', this.updatePosition)
  },
  beforeDestroy() {
    document.removeEventListener('resize', this.updatePosition)
  },
  methods: {
    open() {
      if (this.show || this.ignoreDialog) return
      this.$emit('show')
      this.show = true

      this.$refs.dialog.style.display = 'block'
      this.$refs.dialog.style.opacity = 0

      setTimeout(() => {
        this.updatePosition()
      }, 10)
    },
    close() {
      if (this.show && this.$refs.dialog) {
        this.$emit('close')
        this.show = false

        this.$refs.dialog.style.display = 'none'
      }
    },
    updatePosition() {
      const dialog = this.$refs.dialog
      const trigger = this.$refs.tooltiptrigger

      const rectDialog = dialog.getBoundingClientRect()
      const rectTrigger = trigger.getBoundingClientRect()
      const windowWidth = document.documentElement.clientWidth
      dialog.style.top = `${rectTrigger.y + rectTrigger.height + 8}px`

      if (rectTrigger.x + rectDialog.width + 20 > windowWidth) {
        dialog.style.left = `${windowWidth - rectDialog.width - 30}px`
      } else if (rectTrigger.x - Math.abs(rectTrigger.width-rectDialog.width) < 0) {
        dialog.style.left = `${rectTrigger.x + 10}px`  
      } else if (rectDialog.width >= rectTrigger.width){
        dialog.style.left = `${rectTrigger.x - ((rectDialog.width - rectTrigger.width)/2)}px`
      } else {
        dialog.style.left = `${rectTrigger.x + ((rectTrigger.width - rectDialog.width)/2)}px`
      }

      setTimeout(() => {
        dialog.style.opacity = 100
      }, 100)
    },
    onClick() {
      this.$emit('click', this.$event)
    },
  },
}
</script>

