<template>
  <PsTooltip :layout="layout" :title="title" :cssClass="cssClass">
    <template v-slot:trigger>
      <slot name="trigger"></slot>
    </template>
    <template v-slot:content>
      <slot name="content"></slot>
    </template>
  </PsTooltip>
</template>

<script>
import PsTooltip from '../tooltip/PsTooltip.vue'

export default {
  name: 'PsRichTooltip',
  components: { PsTooltip },
  props: {
    /**
     * It sets the title of the tooltip if needed.
     */
    title: {
      type: String,
      default: '',
    },
    /**
     * It sets the layout of the tooltip. eg: gray, red and blue.
     */
    layout: {
      type: String,
      default: 'gray',
      validator: (type) => ['gray', 'red', 'blue'].includes(type),
    },
    cssClass: {
      type: String,
      default: '',
    },
  },
}
</script>
