<template>
  <div class="psui-el-accordion" :class="getComponentClass">
    <slot></slot>
  </div>
</template>

<script>
export const layouts = ['big', 'medium']
export default {
  name: 'PsAccordion',
  props: {
    /**
     * It defines the size of the accordion items. eg: text size and font.
     */
    layout: {
      type: String,
      default: 'medium',
      validator: (value) => ['medium','big'].includes(value),
    },
  },
  computed: {
    getComponentClass() {
      return `layout-${this.layout}`
    }
  }
}
</script>
<style> /* Please, use the file src/assets/scss/components/PsAccordion.scss */</style>
