<template>
  <div class="psui-el-accordion-item" :class="`status-${isOpen ? 'opened' : 'closed'}`">
    <div @click="toggle" class="psui-el-accordion-item-header">
      <h2 v-if="title" class="psui-el-accordion-item-title">{{ title }}</h2>
        <i class="psui-el-accordion-item-icon">{{ getIcon }}</i>
    </div>
    <transition
      name="accordion-fade"
      @enter="start"
      @after-enter="end"
      @before-leave="start"
      @after-leave="end"
    >
      <div v-if="isOpen" class="psui-el-accordion-item-content">
        <slot></slot>
      </div>
    </transition>
  </div>
</template>

<script>
import { getParentVueComponentByName } from '../../util/GeneralFunctions'
export default {
  name: 'PsAccordionItem',
  props: {
    /**
     * It sets the title of the accordion item.
     */
    title: {
      type: String,
      required: true,
    },
    /**
    * It sets the status of the accordion item when mounted. 
    */
    opened: {
      type: [Boolean],
      default: false
    },
    /**
     * It sets the text key to get the svg icon in Google Fonts. Make sure to get the correct description of your icon on https://fonts.google.com/.
     */
    icon: {
      type: String
    }
  },
  data() {
    return {
      localOpened: null,
    }
  },
  computed: {
    isOpen() {
      return this.localOpened !== null ? this.localOpened : this.opened
    },
    getParent() {
      return getParentVueComponentByName(this,'PsAccordion')
    },
    getIcon(){
      if(this.getParent._props.layout === 'medium') return 'expand_more'
      if(this.getParent._props.layout === 'big' && this.isOpen === false) return 'add'
      if(this.getParent._props.layout === 'big' && this.isOpen === true) return 'remove'
      return `${this.icon}`
    }
  },
  methods: {
    toggle() {
      if (this.localOpened === null) {
        this.localOpened = !this.opened
      } else {
        this.localOpened = !this.localOpened
      }
    },
    start(el) {
      el.style.height = el.scrollHeight + 'px'
      el.style.padding = el.srcollPaddingBottom + 'px'
    },
    end(el) {
      el.style.height = ''
      el.style.padding = ''
    }
  }
}
</script>

<style> /* Please, use the file src/assets/scss/components/PsAccordion.scss */</style>

