<template>
  <tbody v-if="data">
    <tr v-for="(dt, index) in data" :key="index" >
      <td v-for="(el, elIndex) in dt" :key="elIndex" class="psui-px-4 psui-py-2">
        <div class="psui-flex psui-gap-1 psui-items-center">
          <span class="psui-text-gray-80">
            {{ el[Object.keys(el)[1]].toFixed(3) }}
          </span>
          <div
            class="psui-flex psui-items-center"
            :class="
              el[Object.keys(el)[1]] >= 0
                ? 'psui-text-green-70'
                : 'psui-text-red-70'
            "
          >
            <i v-if="el[Object.keys(el)[1]] >= 0" class="material-icons">arrow_upward</i>
            <i v-else class="material-icons">arrow_downward</i>
            <span>
              {{
                (
                  (el[Object.keys(el)[1]] / el[Object.keys(el)[0]]) *
                  100
                ).toFixed(2)
              }}%
            </span>
          </div>
        </div>
        <span class="psui-text-gray-50">{{
          el[Object.keys(el)[0]].toFixed(6)
        }}</span>
      </td>
    </tr>
  </tbody>
</template>

<script>
export default {
  name: 'PsDataTableItem',
  props: {
    data: {
      type: Array,
      required: true,
      default: () => {
        return []
      },
    },
  },
}
</script>

<style scoped>
.material-icons {
  font-size: 15px;
  margin-bottom: 2px;
}
</style>