<template>
  <div class="psui-el-dotloader">
      <div class="psui-el-dotloader-wrapper">
        <span></span>
        <span></span>
        <span></span>
      </div>
  </div>
</template>

<script>
export default {
  name: 'PsDotLoader',
}
</script>