<template>
  <div class="psui-el-dropdown-menu" ref="PSDropdown" v-click-outside="close">
    <div
      ref="PSDropdownTrigger"
      v-if="$slots.dropdownTrigger"
      @click="show && !toggleWhenActive ? '' : toggle()"
    >
      <slot name="dropdownTrigger"></slot>
    </div>

    <button
      v-else
      @click="show && !toggleWhenActive ? '' : toggle()"
      type="button"
      :id="id"
      aria-haspopup="true"
      aria-expanded="true"
      ref="PSDropdownTrigger"
    >
      <slot
        v-if="show && $slots.buttonLabelOnShow"
        name="buttonLabelOnShow"
      ></slot>
      <slot v-else name="buttonLabel"></slot>
    </button>
    <div
      ref="PSDropdownDialog"
      role="menu"
      class="psui-el-dropdown-menu-dialog-wrapper psui-duration-300"
      aria-orientation="vertical"
      :aria-labelledby="id"
      :style="{ minWidth: minWidthDropDown }"
    >
      <div class="psui-el-dropdown-menu-dialog">
        <slot name="items"></slot>
      </div>
    </div>
  </div>
</template>

<script>
// Figma - 2.3 Dropdown with category divider https://www.figma.com/file/Tto8hrNlSfuPcwd1pfqogF/%E2%9A%A1%EF%B8%8F-Design-System?node-id=1768%3A64886

import {
  randomString,
  getParentScrollableEl,
} from '../../util/GeneralFunctions'

export default {
  name: 'PsDropdown',
  props: {
  /**
    * It sets a minimun width for the dropdown menu.
   */
    minWidthDropDown: {
      type: String,
      default: '240px',
    },
    /**
    * It's a boolean responsible for showing a slot within the html tag button.
     */
    buttonLabelOnShow: {
      type: Boolean,
      default: false,
    },
    /**
    * It's a property responsible for toggling the dropdown menu. default: true.
     */
    toggleWhenActive: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      show: false,
      id: randomString(8),
      marginLeft: '-0px',
      scrollableParentEl: null,
    }
  },
  computed: {
    getMaxWidth() {
      let bounds = this.$refs.PSDropdown.getBoundingClientRect()
      return document.documentElement.clientWidth - bounds['left'] - 30
    },
  },
  beforeDestroy() {
    this.unwatchParentScrolling()
  },
  methods: {
    toggle() {
      if (!this.show) {
        this.open()
      } else {
        this.close()
      }
    },
    watchParentScrolling() {
      this.scrollableParentEl = getParentScrollableEl(this.$refs.PSDropdown)
      if (this.scrollableParentEl) {
        this.scrollableParentEl.addEventListener('scroll', this.updatePosition)
      }
    },
    unwatchParentScrolling() {
      if (this.scrollableParentEl) {
        this.scrollableParentEl.removeEventListener(
          'scroll',
          this.updatePosition
        )
      }
    },
    updatePosition() {
      const PSDropdownDialog = this.$refs.PSDropdownDialog
      const PSDropdownTrigger = this.$refs.PSDropdownTrigger
      if (!PSDropdownDialog || !PSDropdownTrigger) return

      const rectTrigger = PSDropdownTrigger.getBoundingClientRect()
      const rectDialog = PSDropdownDialog.getBoundingClientRect()
      const windowWidth = document.documentElement.clientWidth

      PSDropdownDialog.style.position = 'fixed'
      PSDropdownDialog.style.top = `${rectTrigger.y + rectTrigger.height}px`

      if (rectTrigger.x + rectDialog.width + 20 > windowWidth) {
        PSDropdownDialog.style.left = `${
          windowWidth - rectDialog.width - 30
        }px`
      } else {
        PSDropdownDialog.style.left = `${rectTrigger.x}px`
      }

      if (rectTrigger.top < 10) {
        this.close()
        console.warn('The dropdown are too close from the top of the page')
        return
      }

      setTimeout(() => {
        PSDropdownDialog.style.opacity = 1
      }, 10)
    },
    open() {
      this.$emit('open')
      this.show = true
      this.$refs.PSDropdownDialog.style.opacity = 0
      this.$refs.PSDropdownDialog.style.display = 'block'
      setTimeout(() => {
        this.updatePosition()
        this.watchParentScrolling()
        document.addEventListener('keyup', this.handleEsc)
        window.addEventListener('resize', this.updatePosition)
        window.addEventListener('click', this.clickOutside)
      }, 10)
    },
    close() {
      if (this.show) {
        this.$emit('close')
        this.$refs.PSDropdownDialog.style.display = 'none'
        this.$refs.PSDropdownDialog.style.opacity = 0
        this.show = false
        this.unwatchParentScrolling()
      }
      document.removeEventListener('keyup', this.handleEsc)
      document.removeEventListener('resize', this.updatePosition)
      document.removeEventListener('click', this.clickOutside)
    },
    handleEsc(evt) {
      if (this.show && evt.keyCode === 27) this.close()
    },
    clickOutside(event) {
      if (!this.show) return
      if (
        !(
          this.$refs.PSDropdown == event.target ||
          this.$refs.PSDropdown.contains(event.target)
        )
      ) {
        this.close()
      }
    },
  },
}
</script>
