<template>
  <ul class="psui-el-dropdown-menu-list">
    <li 
      v-for="item in getItems" 
      :key="getKeyValue(item)"
      @click="selectItem(item)"
    >
    <span>{{ getKeyLabel(item) }}</span>
    </li>
  </ul>  
</template>

<script>
export default {
  name: 'PsDropdownSimple',
  props: {
    /**
    * It sets the text key which will retrieve a icon from Google Fonts. Make sure to get the correct description of your icon on https://fonts.google.com/.
    */
    icon:{
      type: String,
    },
    /**
    * It sets the items which will be displayed on the dropdown menu.
     */
    items: {
      type: Array,
      required: true
    },
    /**
    * It sets the item selected on the dropdown menu.
     */
    selected: {},
    /**
    * It sets the key label of your items if needed. 
     */
    keyLabel: {
      type: [String, Function],
      default: 'label'
    },
    /**
    * It sets the key value of your items if needed.
     */
    keyValue: {
      type: [String, Function],
      default: 'value'
    }
  },
  computed: {
    getSelected() {
      if (this.selected) {
        if (typeof this.selected === 'object' && this.selected[this.keyValue] ) {
          return this.selected[this.keyValue]        
        } else {
          return this.selected
        }
      } else {
        return false
      }
    },
    getItems() {
      return this.items
    },
  },
  methods: {
    selectItem(item) {
      this.$emit('update:selected', this.getKeyValue(item) )
      this.$emit('change', item )
    },
    getKeyLabel(item) {
      if(typeof this.keyLabel == 'function') return this.keyLabel(item)
      if(typeof item === 'string') return item
      return item[this.keyLabel]
    },
    getKeyValue(item) {
      if(typeof this.keyValue == 'function') return this.keyValue(item)
      if(typeof item === 'string') return item
      return item[this.keyValue]
    },
  }
}
</script>