<template>
  <div class="psui-el-input-select" :class="[{'disabled':disabled}, getComponentClass, {'selected':selectedClass}]">
    <label :for='label' v-if="label" >{{ label }}</label>
    <select 
      :name="label"
      :id="label"  
      v-model="childValue"
    >
      <option value='' disabled>Select</option>
      <option v-for="item in getItems" :value="item[keyValue]" :key="item[keyValue]">{{ item[keyLabel] }}</option>
    </select>
    <p v-if="optionalLabel && !disabled && layout !== 'mini'" class="psui-el-input-helper">{{ optionalLabel }}</p>
  </div>
</template>

<script>

export default {
  name: 'PsSelectInput',
  props: {
    /**
     * It sets the items which will be rendered within the select input.
     */
    items: {
      required: true
    },
    value: {
      default: '',
      required: true
    },
    /**
     * It sets the value label of the select input if needed.
     */
    label: {
      default: ''
    },
    /**
     * It sets a o optional label below the select input.
     */
    optionalLabel:{
      default:''
    },
    /**
     * It sets the key label of your items if needed.
     */
    keyLabel: {
      default: 'label'
    },
    /**
     * It sets the key value of yout items if needed.
     */
    keyValue: {
      default: 'value'
    },
    /**
     * It disables the select input. All mouse events are disabled.
     */
    disabled: {
      type: Boolean,
      default: false
    },
    /**
     * It sets the layout of the select input. eg: default and mini.
     */
    layout:{
      type: String,
      default: 'default',
      validator: (value) => ['default','mini'].includes(value)
    }
  },
  data(){
    return {
      selectedClass: false,
    }
  },
  computed: {
    getComponentClass(){
      return `layout-${this.layout}`
    },
    childValue: {
      get() {
        return this.value
      },
      set(value) {
        if(this.isString) return this.$emit('input', value)
        const finded = find(this.items, { [this.keyValue]: value })
        this.$emit('input', value)
        this.$emit('change', finded)
        this.selectedClass = true
      }
    },
    isString() {
      return  this.items.length > 0 && typeof this.items[0] === 'string'
    },
    getItems() {
      if (this.items.length > 0 && typeof this.items[0] === 'string') {
        return this.items.map((item) => { 
          return {
            [this.keyLabel]: item,
            [this.keyValue]: item,
          }
        })
      } else {
        return this.items
      }
    },
  },
}
</script>
