<template>
	<div class="psui-el-input" :class="[getComponentClass, `layout-${layout}`]" >
		
    <label v-if="label"> {{ label }} </label>
    
    <div 
      class="psui-el-input-wrapper"
      @mouseenter="$emit('mouseenter',$event)" 
      @mouseleave="$emit('mouseleave',$event)" 
    >
    
      <div v-if="$slots.prepend" class="psui-el-input-prepend">
        <slot name="prepend"></slot>
      </div>
    
      <input
        :type="type"
        :placeholder="placeholder"
        :disabled="disabled"
        :value="value"
        @focus="onInputFocus"
        @blur="onInputBlur"
        @input="$emit('input', $event)"
        @keydown="$emit('keydown', $event)"
        @change="$emit('change', $event)"
        v-bind="getAttrs"
        :class="{ 'focus': isFocus }"
      />
    
      <div v-if="$slots.append || hasError" class="psui-el-input-append">
        <span v-if="hasError" class="material-icons psui-text-red-20 material-icons-sharp">error</span>
        <slot v-else name="append"></slot>
      </div>

    </div>
    
		<p v-if="hint || (hasError && typeof hasError === 'string')" class="psui-el-input-hint">
      {{ typeof hasError === 'string' ? hasError : hint }}
    </p>

	</div>
</template>

<script>
export default {
	name: 'PsInput',  
  props: {
    /**
    * It sets the type of your button. default: text.
     */
    type: {
      type: String,
      default: 'text'
    },
    /**
     * It sets a placeholder for your button if needed.
     */
		placeholder: {
			type: String
		},
    /**
     * It sets the label of the input if needed.
     */
		label: {
			type: String
		},
    /**
     * It sets a text below the input. See Figma Text fileds & Forms.
     */
		hint: {
			type: String
		},
    /**
     * It sets the layout of your button. eg: mini and default. 
     */    
    layout: {
      type: String,
      default: 'default',
      validator: (value) => ['default', 'mini'].includes(value)
    },
    /**
     * It sets the value of the button.
     */
    value: {
      required: true,
    },
    /**
     * It disables the input. All mouse events are disabled.
     */
    disabled: {
      type: Boolean,
      default: false
    },
    /**
     * It sets if the input found any error.
     */
    hasError: {
      type: [String, Boolean],
      default: false
    },
    /**
     * It sets a active css class based on a boolean property.
     */
    active: {
      type: Boolean,
      default: false
    },
	},
  data: () => ({
    isFocus: false,
  }),
  computed: {
    getAttrs() {
      const defaultAttrs = {
        autocapitalize: 'sentences',
        autocomplete: 'chrome-off',
        autocorrect: 'off',
        spellcheck: 'spellcheck'
      }
      return { ...defaultAttrs, ...this.$attrs }
    },
    getComponentClass() {
      if (this.disabled) {
        return 'status-disabled'  
      } else if (this.hasError) {
        return 'status-error'
      } else if (this.isFocus || this.isTyping || this.active ) {
        return 'status-active'
      } else {
        return 'status-resting'
      }
    },
  },
  methods: {
    onInputFocus($event) {
      this.isFocus = true
      this.$emit('focus', $event)
    },
    onInputBlur($event) {
      this.isFocus = false
      this.$emit('blur', $event)
    }
  }
}
</script>

<style> /* Please, use the file src/assets/scss/components/PsInput.scss */</style>